html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-left {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.modal-content {
	border-radius: 0px !important;
}

.btn {
	border-radius: 0px !important;
}

/*************************
		SNACKBAR 
**************************/

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*************************
		LOADER 
**************************/

.full {
	width: 100%;
	width: 100vw;
	height: 10000px;
    background: #fff;
    z-index: 9990;
    position: absolute;
}

#loader {
	position: absolute;
	left: 50%;
	top: 4%;
	z-index: 9999;
	margin: -75px 0 0 -75px;
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #515151;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*************************
		HEADER AND NAV 
**************************/

#header {
	width: 100%;
	position: fixed;
	z-index: 999;
}

.navbar-transparent {
	background-color: rgb(34, 34, 34, 0.7);
}

.navbar-transparent .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-transparent a {
	color: #fff;
}

.navbar-transparent a:hover {
	color: #fafafa;
	background: rgb(0, 0, 0, 0) !important;
}

.navbar {
	margin-bottom: 0px !important;
}

/*************************
		BANNER HOME 
**************************/

#banner-home, #banner {
	background: url('../../images/header-bg-2.png') no-repeat center;
	background-size: cover;
	color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}

#banner {
    padding-top: 120px;
}

#banner-home .welcoming img {
	margin-bottom: 1%;
}

#banner-home h1 {
	font-size: 2.0em;
	margin-bottom: 3%;
}

#banner-home h1 > span {
	font-size: 2.3em;
}

#banner-home input[type=submit], #banner-home button {
	font-size: 1.2em;
    padding-left: 30px;
    padding-right: 30px;
}

#banner-home .form-control {
	border-radius: 0px !important;
}

#banner-home button a {
	color: inherit;
	text-decoration: none;
	text-transform: none;
}

#banner-home button a:hover {
	color: inherit;
	text-decoration: none;
	text-transform: none;
}

#banner-home .welcoming button {
	display: none;
}

#banner h1 {
	font-size: 3em;
	text-transform: capitalize;
}

#banner h1 a {
	color: #FFB300;
}

#banner h1 a:hover {
	text-decoration: none;
}

p > a {
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
}

p > a:hover {
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
}

.btn-special {
	background: #fff;
	border: 2px solid #FFB300 !important;
	color: #000;
	padding: 10px;
	border: 0px;
}

.searchbar {
  margin-top: 30px;
}

.searchbar input {
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 80%;
}

@media only screen and (min-width: 768px) {

  .searchbar {
    margin-top: 0px;
  }

	#banner-home button {
		display: inline-block !important;
	}

	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;

		align-items: center;
	}
}

/*************************
	   MOST SOLD PLATES 
**************************/

.most-sold-plates {
	position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.menu-heading {
	position: relative;
    z-index: 1;
    margin-bottom: 100px;
    margin-top: 5%;
}

.section-heading {
	position: relative;
    z-index: 1;
}

.section-heading > h1 {
	font-size: 3em;
}

.menu-heading > a {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    z-index: 9;
}

.most-sold-plates-btn {
	font-family: 'Work Sans', sans-serif;
    min-width: 180px;
    height: 54px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 0;
    padding: 0 30px;
    line-height: 52px;
    color: #000;
}

.most-sold-plates-btn > span {
    width: 8px;
    height: 8px;
    background-color: #ffb300;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.dish {
	background: #fff;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
	padding: 5%;
	margin-bottom: 50px;
}

.dish > img {
    width: 100%;
    height: 100%;
}

.most-sold-plates .row .col-12 .dish:before {
    position: absolute;
    height: 100%;
    background-image: url(../../images/specials/special-dots.png);
    width: calc(100% - 50px);
    content: '';
    top: -50px;
    left: -50px;
    z-index: -1;
    background-repeat: no-repeat;
}

.dish-name {
	font-size: 2em;
	font-family: 'Playfair Display', serif;
}

.dish-price {
	width: 60px;
    height: 60px;
    background-color: #333333;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-size: 0.8em;
}

/*************************
	   	TESTIMONIAL
**************************/

#testimonials {
  background: #f1f1f1;
  padding-top: 25px;
  padding-bottom: 25px;
}

#testimonials h1 {
	font-size: 2em;
}

#testimonials .carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}
.carousel .media img {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 15px ;
  position: relative;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #FFB300;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 18px;
    height: 18px;
  border-radius: 50%;
  margin: 1px 3px;
}
.carousel-indicators li { 
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
  color: #fff;
  background: #FFB300;    
  border: 5px double;    
}

/*************************
	   COME ORDINARE 
**************************/

.how-to-order {
	margin: 50px 0;
}

i {
	color: #FFB300;
}

.how-to-order h1{
	font-size: 2em;
	margin-bottom: 15px;
}

/*************************
		FOOTER 
**************************/

footer {
	color: #fff;
}

footer .information {
	background: url('../../images/footer-bg.png') no-repeat center;
	background-size: cover;
	padding-top: 35px;
	padding-bottom: 35px;
}

footer h6 {
	font-size: 2em;
}

footer h6, footer h6 p {
	margin-bottom: 25px;
	margin-top: 25px;
}

footer .information > p {
	font-size: 1.3em;
	line-height: 1.3em;
}

footer i {
	font-size: 1.3em;
}

footer ul li {
	display: inline;
}

footer ul li {
	margin-left: 1%;
}

footer .copyright {
	background: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*************************
    LOGIN / REGISTRATION
**************************/



.error, .success {
	color: #fff;
	font-size: 1.7em;
	display: none;
}

.error {
	background: #c0392b;
}

.success {
	background: #27ae60;
}

.container-form, .error, .success {
  max-width: 800px;
  margin: 50px auto;
}

.form-login {
  border: 3px solid #f1f1f1;
  padding: 50px;
}

form label {
	width: 100%;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-login {
  background-color: #FFB300;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button[type=submit]:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  max-width: 200px;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*************************
    MENU
**************************/

#menu {
  margin-top: 25px;
  margin-bottom: 25px;
}

#menu h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

#menu ul li a {
  color: inherit;
}

#menu ul li.active a, #menu ul li a:hover {
  border-bottom: 2px solid #FFB300;
  background-color: transparent;
  border-radius: 0px;
}

#menu .nav {
  margin-bottom: 50px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.menu-dish > div img {
  max-width: 200px;
}

.menu-dish > div {
  width: 80%;
  margin: 10px auto;
}

.dish > button {
  margin-top: 10px;
}

/*************************
    NOTIFICATION
**************************/

.notification {
	margin-top: 30px;
	margin-bottom: 50px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.notification p {
	margin-top: 0;
}

.notification {
	padding: 20px;
}

.notification select {
	margin-bottom: 25px;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.n-checked {
	background: #34495e;
}

.n-unchecked {
	background: #27ae60;
}

.n-in-lav {
	background: #3498db;
}

.n-in-con {
	background: #f39c12;
}

.notification p, .notification label {
	color: #fff;
}

.delete, .change-state, .delete-order {
	padding: 10px;
	border-radius: 0px;
}

.delete, .delete-order {
	background: #f73535;
	border: 1px solid #c71919;
	color: #fff;
}

.change-state {
	background: #22b971;
	border: 1px solid #249b61;
	color: #fff;
}

section > h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 3em;
}

/*************************
    MANAGE-MENU
**************************/

.btn-manage {
	color: #fff;
	padding: 10px;
	border: 0px;
}

.btn-manage i {
	color: #fff;
}

.btn-manage-remove {
	background: #c0392b;
	text-align: center;
}

.btn-manage-modify {
	background: #27ae60;
}

.btn-manage-supplier {
	background: #a2a2a2;
}

#manage-menu h1{
	font-size: 3em;
	margin-top: 30px;
	margin-bottom: 30px;
}

#manage-menu .row {
	margin: 0 auto;
	margin-bottom: 50px;
}

/*************************
    	CART
**************************/
.modal-footer p {
	margin-top: 0px;
}

/*************************
    	DESCRIPTION
**************************/
#name-single-product {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
}